<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
        <header>
            
            <div class="header_logo">
            <img class="logo" src="/images/logo-mercado-liebre.svg ">
            <div class="busqueda">
                <form action="">
                    <input type="text" placeholder="Buscar" id="search">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
            
            <a href="">
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        
            </a>
            <nav class="menu_navegacion">
                <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Virtuales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                </ul>
            
                <ul>
                <li><a href="/registro">Creá tu Cuenta <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            </nav>
            
        </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg" width ="100%">
        <h1>Basado en tu última visita</h1>
        <section>
            <article >
                <img src="/images/img-cafetera-moulinex.jpg" width ="100%">
                <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>    
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                
            </div>
            <p class="descripcion">Cafetera Moulinex</p>
            </article>  
            <article >
                <img src="/images/img-macbook-pro-2019.jpg" width ="100%">
                <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>    
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>  
            <article >
                <img src="/images/img-samsung-galaxy-s10.jpg" width ="100%">
                <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                
            </div>
            <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
            <img src="/images/img-tv-samsung-smart.jpg" width ="100%">
            <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>   
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                
            </div>
            <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
        <h1>Sección de Ofertas</h1>
        <section>
            <article >
                <img src="/images/img-cafetera-moulinex.jpg" width ="100%">
                <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>    
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>  
            <article >
                <img src="/images/img-macbook-pro-2019.jpg" width ="100%">
                <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>    
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>  
            <article >
                <img src="/images/img-samsung-galaxy-s10.jpg" width ="100%">
                <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>    
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                
            </div>
            <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <article >
            <img src="/images/img-tv-samsung-smart.jpg" width ="100%" >
            <div class="section_article_info_productos">
                <i class="fa-solid fa-truck"></i>    
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                
            </div>
            <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>  
            <article>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
            </article>
            <b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b>
        </section>
    </footer>
</body>
</html>