:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264c;
    --color-celeste:#1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde:#39b54a;
}

* {
    margin: 0px;
    padding : 0px;
    list-style: none;
    text-decoration:none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--color-amarillo);
}

a {
    color: black;
    cursor: pointer;
    font-size: 12px;
}



footer { 
    margin-top: 50px; 
    text-align: center;
    
}

footer i {
    color:var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px;
    }
    

.burger-menu {
        background-color: #1259c3;
        border-radius: 10%;
        display: inline-block;
        margin-left: 45%;
        padding: 6px 9px; 
        font-size: 30px;   
        color:white;
        margin-bottom: 10px;
    }
    

    
footer h4 {
        color:#666;
    }
    
footer p {
        color: #666;
        font-size:12px
    }

    footer b{
        font-size: 12px;
    }

    footer section article {
        margin-bottom: 60px;
    }

h1 {
    font-size: 24px;
}   

p{
    font-size: 12px;
}

