main {
    background-color: var(--color-gris-claro);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
    color: var(--color-gris-oscuro)

}

main section {
    width: 90vw;
    
}



main section article  {
    display:block;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    margin: 10px 10px;
    

    
}

main section article i {
    display:block;
    color:var(--color-verde);
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    position: relative;
    height: 30px;
    width: 30px;
    top: -15px;
    left:80%
    }



.section_article_info_productos {
display: flex;
flex-direction: row;
justify-content: flex-start;
border-top: 1px solid var(--color-gris-claro); 
}




.descuento {
    flex: 70%;
    color:var(--color-verde);
    font-size: 16px;
    margin: 5px 0px 5px 15px;
}

.precio {
    flex:30%;
    font-size: 18px;
    color: #000000;
    margin: 5px 0px 5px 15px;
}

.descripcion {
    font-size: 16px;
    margin: 5px 0px 5px 15px;
}

.menu_navegacion {
    margin-top: 10px;
    display: none;
}

.busqueda {
    margin-left: 5%;
}

.compra {
    margin: 10px;
    text-align: center;
}

@media (min-width : 768px) {


body header { 

    .burger-menu {
        display: none;
    }
    
    .menu_navegacion {


        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }   
    .menu_navegacion ul {
        margin-left: 3vw;
        margin-right: 3vw;
        display: flex;
        gap:10px;
    }
    }
    

main section article {
    width: 45%;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    
}

main section  {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    
}
@media (min-width : 1024px) {

    main section article {
        width:20%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
        
    }
}    


