main form {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap:30px;
}

.login input {
    padding: 10px;
}

main form button {
    border-radius: 10px;
    background-color: var(--color-celeste);
    color: #fff;
    font-weight:700;
    padding:10px;
    width:100%;
    border-color:var(--color-celeste);
    transition: all 1s;

}

main form button:hover {
    background-color: #0022AA;
    border-color:#0022AA;
}