@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@700&family=Roboto:wght@100&display=swap');
@import './general.css';
@import './home.css';





.burger-menu {
    background-color: #1259c3;
    border-radius: 10%;
    display: inline-block;
    margin-left: 45%;
    padding: 6px 9px; 
    font-size: 30px;   
    color:white;
}

footer {
    text-align: center;
    
}

footer h3 {
    color:#666;
}

footer p {
    color: #666;
}

